<div class="login-container">
    <img class="film" src="assets/images/cinema.png" alt="cinema Image">
    <div class="logo">movie</div>
    <div class="desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, rerum modi numquam eius enim
      voluptatem distinctio? Hic id nesciunt unde! Ullam iste laboriosam voluptas? Culpa possimus cumque vero sint
      laudantium!
    </div>
  
    <form class="login-form" (ngSubmit)="onlogin()">
  
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="Username" name="username" placeholder="User name" [(ngModel)]="username">
      </div>
      <br>
  
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="password">
      </div>
      
      <div class="error">{{errormessage}}</div>
  
      <div class="btn-container">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
      
    </form>
  </div>
  